
#main-container{
    height:75vh;
    width: 64vw;
    background-color: rgb(237, 252, 252);
    border:1px solid black;
    margin: 8vh auto;
    padding: 24px 100px;
    display: flex;

}
#left-content{
    height: 100%;
    width: 50%;
}
#left-content>img{
    height:100%;
    width: 100%;
}
#right-content{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#right-content>h1{
    color: #006238;
    font-size: 44px;
}
#right-content>a{
width: 128px;
height: 64px;
text-decoration: none;
font-size: 24px;
border: 3px solid #006238;
border-radius: 16px;
color:#006238 ;
display: flex;
justify-content: center;
align-items: center;
}
